.header {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 60px;

	box-sizing: border-box;

	padding: 10px;

	border-bottom: 1px solid #eee;

	background-color: #fafafa;
}

.header__title {
	margin: 0;

	font-weight: bold;
	font-size: 1.2em;
	line-height: 100%;
}