.send-form__section {
	display: flex;

	height: 60px;

	background: #eee;
}
.form {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: stretch;

	width: 100%;
}
.form__input[type=text] {
	flex: 1;
	margin: 10px;

	border: 1px solid #ccc;
	border-radius: 4px;
}
.form__button {
	margin: 10px 10px 10px 0;
	padding: 0 15px;
	
	border: 0;
	border-radius: 4px; 

	background: #267af8;

	color: #fff;
	font-weight: bold;
}
.form__button:hover{
	background: #1b5bbb;
}
.form__button:disabled{
	background: #a6b8d3;
}