.message__item {
    display: flex;
    flex-direction: row;
    margin: 10px
}
.message__icon {
    width: 30px;
}
.message__bubble {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.message__name {
    font-weight: bold;
}